<h1>Archived Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
      <%= link_to "Unarchive", unarchive_article_path(article), data: {turbo_method: "post"} %>
    </li>
  <% end %>
</ul>

<%= link_to "Articles", articles_path %>