<p style="color: green"><%= notice %></p>
<header class="mb-4">
  <div class="d-flex flex-row align-items-center">
    <div class="flex-item">
      <%= link_to welcome_path do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
    <div class="flex-item px-3"><h1><%= t('articles.traditions') %></h1></div>
  </div>
</header>
<body class="tradition-container">
 <%= render 'index' %>
</body>