<div class="flex-item">
  <%= link_to articles_path do %>
    <%= icon('fa-solid', 'arrow-left') %>
  <% end %>
</div>
<ul>
  <li>
    <a href="https://unsplash.com/photos/qTpc0Vj4YoE">Typewriter photo created by Bernard Hermant</a>
  </li>
  <li>
    <a href="https://www.freepik.com/photos/top-view">Top view photo created by freepik - www.freepik.com</a>
  </li>
</ul>
