<div class="flex-item">
  <%= link_to articles_path do %>
    <%= icon('fa-solid', 'arrow-left') %>
  <% end %>
</div>
<ul>
  <li>
    Cuisine photo by <a href="https://unsplash.com/@zhenhappy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">PAN XIAOZHEN</a> on <a href="https://unsplash.com/s/photos/exotic-cuisine?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </li>
  <li>
    Tradition photo by <a href="https://unsplash.com/@ainunofficial?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ainun Jamila</a> on <a href="https://unsplash.com/s/photos/traditional-dance?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </li>
  <li>
    Architecture photo by <a href="https://unsplash.com/@adliwahid?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Adli Wahid</a> on <a href="https://unsplash.com/s/photos/hagia-sophia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </li>
  <li>
    Landscape photo by <a href="https://unsplash.com/@fineas_anton?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Fineas Anton</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </li>
  <li>
    History photo by <a href="https://unsplash.com/@museumsvictoria?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Museums Victoria</a> on <a href="https://unsplash.com/s/photos/war?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </li>
  <li>
    About Us photo by <a href="https://unsplash.com/@creative_films?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">BeQa shavidze</a> on <a href="https://unsplash.com/s/photos/traveler?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </li>
  <li>
    Food background photo by <a href="https://unsplash.com/@brookelark?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Brooke Lark</a> on <a href="https://unsplash.com/s/photos/feast?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </li>
  <li>
    Tradition background photo by <a href="https://unsplash.com/@jonasjaekenmedia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jonas Jaeken</a> on <a href="https://unsplash.com/s/photos/gothic-architecture?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </li>
  <li>
    History background photo by <a href="https://unsplash.com/@tjump?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nik Shuliahin 💛💙</a> on <a href="https://unsplash.com/s/photos/medieval-history?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </li>
</ul>
