$yellow: #fde951;
$dark-blue: #1d4d6b;
$light-blue: #8EE3EF;
$white: #e6f0e8;
$black: #230007;
$grey: #ece9e9;


body {
  font-family: 'Open Sans';
  line-height: 1.4;
  color: $dark-blue;
  background-color: $white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: $black;
}

h1 { font-size: 2rem; }

.footer_link {
  color: $white;
}
.post-title {
  font-weight: bold;
}

article {
  padding: 2rem;
  background-color: #ffffff;
}

code {
  color: $black;
}
pre {
  background-color: $light-blue;
}
a {
  text-decoration: none;
  color: $black;
}

.shrink {
  max-height: 400px;
}

.fade-bottom {
  -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);
}

.article_photo {
  max-width: 300px;
  margin: 0 auto;
}

.card-header{
  background: $light-blue
}