$yellow: #fde951;
$dark-blue: #1d4d6b;
$light-blue: #8EE3EF;
$white: #e6f0e8;
$black: #230007;
$grey: #ece9e9;
$dark: #212529;

.nav-link {
  color: $light-blue;
}

.nav-link:hover {
  color: $white;
}

body {
  font-family: 'Open Sans';
  line-height: 1.4;
  color: $dark-blue;
  background-color: $white;
  padding-bottom: 120px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: $dark;
}

h1 { font-size: 2rem; }

.footer_link {
  color: $light-blue;
}

.footer_link:hover {
  color: $white;
}
.post-title {
  font-weight: bold;
}

article {
  padding: 2rem;
  background-color: #ffffff;
}

code {
  color: $black;
}
pre {
  background-color: $light-blue;
}

a {
  text-decoration: none;
  color: $black;
}

.shrink {
  max-height: 400px;
}

.fade-bottom {
  -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);
}

.article-image-preview {
  max-width: 250px;
  margin: 0 auto;
}

.article-image-preview-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
}

.card-header{
  background: $dark;
  color: $light-blue;
}

.image-container {
  position: relative;
  height: 400px;
  margin: 2rem 2rem;
}

.image {
  opacity: 1;
  width: 450px;
  max-width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: $light-blue;
  color: $dark;
  font-size: 16px;
  padding: 16px 32px;
}

//food page

.food-container {
  height: 100vh;
  z-index: 1;
}

.food-container::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: image-url('food_background.jpg') no-repeat;
  background-size: cover;
  opacity: 0.2;
}

//tradition page
.tradition-container {
  height: 100vh;
  z-index: 1;
}

.tradition-container::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: image-url('tradition_background.jpg') no-repeat;
  background-size: cover;
  opacity: 0.2;
}

//architecture page
.architecture-container {
  height: 100vh;
  z-index: 1;
}

.architecture-container::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: image-url('architecture_background2.jpg') no-repeat;
  background-size: cover;
  opacity: 0.2;
}
//landscape page
.landscape-container {
  height: 100vh;
  z-index: 1;
}

.landscape-container::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: image-url('landscape_background.jpg') no-repeat;
  background-size: cover;
  opacity: 0.2;
}

//history page
.history-container {
  height: 100vh;
  z-index: 1;
}

.history-container::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: image-url('history_background.jpg') no-repeat;
  background-size: cover;
  opacity: 0.2;
}